{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="text-left">Your stocks</h1>
    <h2 class="text-left">To do later when i finish my procastination</h2>
    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
            <th>Profit</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>CASH</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&#8369;9999.99</td>
        </tr>
    </table>
{% endblock %}
